@import url(../css/reset.css);
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.btn-default {
  border-radius: 1.875rem;
  background-color: #d8dde6;
}

.btn-minus,
.btn-plus {
  border-radius: 0.25rem;
  background-color: #d8dde6;
  width: 6.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  height: 6.25rem;
  position: relative;
  border: none;
}

.btn-minus::before, .btn-minus::after,
.btn-plus::before,
.btn-plus::after {
  content: "";
  position: absolute;
  width: 1.375rem;
  height: 0.25rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  background-color: #ffffff;
}

.btn-minus::after,
.btn-plus::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  display: block;
  background-color: #ffffff;
}

.btn-minus::after {
  display: none;
}

.input {
  -webkit-box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #d1d2d4;
}

.input .bg-gray {
  background-color: #dcdddf;
  color: #000000;
}

::-webkit-input-placeholder {
  color: #d1cece;
}

:-ms-input-placeholder {
  color: #d1cece;
}

::-ms-input-placeholder {
  color: #d1cece;
}

::placeholder {
  color: #d1cece;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  letter-spacing: -0.05em;
  font-weight: 300;
  line-height: 1.414;
  font-family: "Nanum Gothic", sans-serif;
  color: #4f4f4f;
  font-size: 44px;
}

body * {
  color: inherit;
  outline: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

button.btn-red {
  background-color: #fc4f67;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

button.btn-dark {
  background-color: #4f4f4f;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

button.btn-blue {
  background-color: #32c5ff;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

button.btn-black {
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

p {
  word-break: keep-all;
  word-wrap: break-word;
}

.imp {
  color: #e02020;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  padding-top: 4.0625rem;
  z-index: 9;
  background-color: #ffffff;
  border-bottom: 1px solid #979797;
}

.header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header h1 a {
  margin: 0 auto;
  display: block;
}

.header h1 a img {
  margin: 0 auto;
  display: block;
  height: 6.6875rem;
}

.header .header-menu {
  margin-top: 3.4375rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 7.8125%;
  padding-left: 7.8125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-menu .gnb li ~ li {
  margin-left: 5rem;
}

.header .header-menu .util li ~ li {
  margin-left: 2.5rem;
}

.header .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-menu ul li {
  position: relative;
}

.header .header-menu ul li a {
  padding: 1.875rem 0;
  font-size: 2.75rem;
  display: block;
  position: relative;
  min-width: 14.375rem;
}

.header .header-menu ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0.625rem;
  background-color: #6236ff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}

.header .header-menu ul li a.on, .header .header-menu ul li a:hover {
  font-weight: 800;
}

.header .header-menu ul li a.on::after, .header .header-menu ul li a:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content .swiper-container {
  margin-bottom: 3.75rem;
}

.content .main-banner-slide ~ .main-banner-slide {
  margin-top: 60px;
}

.content .main-banner-slide img {
  width: 100vw;
  max-width: 1920px;
  display: block;
}

.content .login-frame {
  text-align: center;
  margin: 0 auto;
  padding-top: 31.25rem;
  padding-bottom: 41.6875rem;
}

.content .login-frame h2 {
  font-size: 6.25rem;
  font-weight: 800;
  line-height: 7.5rem;
}

.content .login-frame p {
  font-size: 3.375rem;
  margin-top: 0.9375rem;
}

.content .login-frame p + button {
  margin-top: 9.0625rem;
}

.content .login-frame button {
  width: 100%;
  height: 15rem;
  width: 73.69792%;
  min-width: 88.4375rem;
  border-radius: 0.375rem;
}

.content .login-frame button ~ button {
  margin-top: 5.3125rem;
}

.content .login-frame .btn-apple {
  background-color: #ffffff;
  border: 1px solid #979797;
}

.content .login-frame .btn-apple img {
  height: 4.25rem;
  display: block;
  margin: 0 auto;
}

.content .login-frame .btn-google {
  background-color: #df4930;
  border: 1px solid #df4930;
}

.content .login-frame .btn-google img {
  height: 6.0625rem;
  display: block;
  margin: 0 auto;
}

.content .terms-area {
  padding: 3.125rem 0 0;
}

.content .terms-area h2 {
  text-align: center;
  font-size: 4.375rem;
  font-weight: 800;
}

.content .terms-area h2 ~ .terms-frame {
  margin-top: 3.375rem;
}

.content .terms-area .terms-frame {
  width: 100%;
  background-color: #f5f6f9;
}

.content .terms-area .terms-frame .terms-text {
  width: 91.30208%;
  min-width: 109.5625rem;
  max-width: 120rem;
  padding-top: 5.625rem;
  padding-right: 5.625rem;
  padding-bottom: 18.75rem;
  padding-left: 5.625rem;
  margin: 0 auto;
  font-size: 2.75rem;
}

.content .order-area .order-top {
  background-color: #f5f6f9;
  padding: 3.4375rem;
}

.content .order-area .order-top .gem {
  width: 38.375rem;
  height: 36.6875rem;
  border-radius: 1.25rem;
  position: relative;
  margin: 0 auto;
  background-color: #000000;
  background-image: url(../images/img-gem-set.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23.625rem 20.25rem;
}

.content .order-area .order-top .gem .price {
  color: #ffffff;
  position: absolute;
  right: 2.1875rem;
  bottom: 1.5625rem;
  font-size: 2.75rem;
}

.content .order-area .order-top .order-top-result {
  text-align: center;
}

.content .order-area .order-top .order-top-result img {
  display: block;
  margin: 0 auto 2.75rem;
  width: 12.625rem;
  height: 11.375rem;
}

.content .order-area .order-top .order-top-result p {
  font-size: 4.375rem;
  font-weight: 700;
}

.content .order-area .order-top .order-top-result .order-top-result-info {
  width: 48.85417%;
  min-width: 58.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3.75rem auto;
  background-color: #ffffff;
  border-radius: 1.875rem;
  padding: 4.375rem;
  font-size: 3.125rem;
}

.content .order-area .order-top .order-top-result .order-top-result-info-title {
  margin-top: 7.1875rem;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 2.25rem;
}

.content .order-area .order-top .order-top-result .order-top-result-info table {
  font-size: 3.125rem;
  margin: 0 auto;
}

.content .order-area .order-top .order-top-result .order-top-result-info table tr th {
  text-align: right;
}

.content .order-area .order-top .order-top-result .order-top-result-info table tr td {
  text-align: right;
  padding-left: 1.875rem;
}

.content .order-area .order-action p {
  margin: 0 auto;
  text-align: center;
  padding: 3.75rem;
  font-size: 2.75rem;
}

.content .order-area .order-form {
  padding: 5.3125rem;
}

.content .order-area .order-form .info-area {
  text-align: center;
}

.content .order-area .order-form .info-area .info-area-title {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 2.25rem;
}

.content .order-area .order-form .info-area .info-area-table {
  background-color: #f5f6f9;
  border-radius: 1.875rem;
  width: 48.85417vw;
  min-width: 58.625rem;
  margin: 0 auto 5.3125rem;
  padding: 4.6875rem;
  text-align: center;
}

.content .order-area .order-form .info-area .info-area-table p {
  font-size: 2.75rem;
  min-height: 25rem;
}

.content .order-area .order-form .info-area .info-area-table table {
  font-size: 3.125rem;
  margin: 0 auto;
}

.content .order-area .order-form .info-area .info-area-table table tr th {
  text-align: right;
}

.content .order-area .order-form .info-area .info-area-table table tr td {
  text-align: right;
  padding-left: 1.875rem;
}

.content .counting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 4.375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .counting .value {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.375rem;
          flex: 0 0 24.375rem;
  text-align: center;
  font-size: 4.375rem;
  font-weight: 700;
}

.content .form-btns {
  margin-top: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .form-btns button {
  width: 37.5rem;
  height: 6.875rem;
  border-radius: 1.875rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  font-size: 2.75rem;
  font-weight: 700;
}

.content .form-btns button ~ button {
  margin-left: 10.3125rem;
}

.content .form-area {
  width: 49.11458%;
  min-width: 58.9375rem;
  margin: 0 auto;
}

.content .form-area .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .form-area input:not([type="checkbox"]):not([type="radio"]) {
  -webkit-appearance: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 6.875rem;
  border-radius: 0.9375rem;
  -webkit-box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  border: solid 1.5px #d1d2d4;
  padding: 0 3.75rem;
  font-size: 2.75rem;
  line-height: 1;
}

.content .form-area .input-agree {
  margin-top: 10.9375rem;
}

.content .form-area label {
  display: block;
  font-size: 2.75rem;
  font-weight: 700;
  color: #000000;
}

.content .form-area label ~ input:not([type="checkbox"]):not([type="radio"]) {
  margin-top: 0.8125rem;
}

.content .form-area .input-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .form-area .input-check label {
  margin-right: 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .form-area .input-check input[type="checkbox"] {
  padding: 0;
  margin: 0;
  width: 3rem;
  height: 3rem;
}

.content .form-area .input-check span {
  font-size: 2.75rem;
  display: block;
}

.content .payment-area {
  width: 84.27083%;
  max-width: 100%;
  padding: 0 8.4375rem;
  margin: 0 auto;
  padding: 3.4375rem 0 17.8125rem;
}

.content .payment-area h2 {
  text-align: center;
  font-size: 4.375rem;
  font-weight: 900;
  margin-bottom: 10.9375rem;
}

.content .payment-area h2 ~ h2 {
  margin-top: 12.8125rem;
  font-size: 3.75rem;
  text-align: center;
  margin-bottom: 2.1875rem;
  font-weight: 300;
}

.content .payment-area h2 ~ h2 + .payment-box {
  margin-top: 2.1875rem !important;
}

.content .payment-area > p {
  font-size: 2.75rem;
  text-align: center;
  margin: 3.125rem auto;
}

.content .payment-area > p + .payment-box {
  margin-top: 3.125rem !important;
}

.content .payment-area .payment-box {
  border-radius: 1.5625rem;
  border: solid 1px #979797;
  position: relative;
  padding: 5.3125rem 4.0625rem;
}

.content .payment-area .payment-box ~ .payment-box {
  margin-top: 5.3125rem;
}

.content .payment-area .payment-box .payment-box-title {
  position: absolute;
  top: 2.0625rem;
  left: 3.9375rem;
  font-size: 2.75rem;
  line-height: 3.3125rem;
}

.content .payment-area .payment-box .payment-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .payment-area .payment-box .payment-box-content .btn-add,
.content .payment-area .payment-box .payment-box-content .btn-edit {
  height: 5.3125rem;
  border-radius: 0.4375rem;
  background-color: #d0d0d0;
  width: 20.0625rem;
  border: none;
  font-size: 2.75rem;
  line-height: 3.3125rem;
  color: #000000;
  font-weight: 300;
}

.content .payment-area .payment-box.tips .payment-box-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content .payment-area .payment-box.tips .price {
  font-size: 5rem;
  font-weight: 500;
}

.content .payment-area .payment-box.tips .unit {
  font-size: 3.4375rem;
}

.content .payment-area .payment-box.payment .payment-box-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .payment-area .payment-box.payment .counting {
  width: 36.875rem;
  margin: 0;
}

.content .payment-area .payment-box.payment .price {
  font-size: 5rem;
  font-weight: 500;
}

.content .payment-area .payment-box.payment .unit {
  font-size: 3.4375rem;
}

.content .payment-area .payment-box.account .payment-box-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .payment-area .payment-box.account .payment-box-content .account-number {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
}

.content .payment-area .payment-box.account .payment-box-content .account-number strong {
  font-weight: 700;
}

.content .payment-area .payment-box.account .payment-box-content span + button {
  margin-left: 5.3125rem;
}

.content .payment-area .payment-box.total-tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3.75rem 5.3125rem;
}

.content .payment-area .payment-box.total-tips .tips-input {
  margin-top: 2.1875rem;
}

.content .payment-area .payment-box.total-tips .tips-input input {
  width: 40.1875rem;
  height: 8.375rem;
  border-radius: 0.625rem;
  border: none;
  -webkit-box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  background-color: #dcdddf;
  padding: 0 3.125rem;
  font-size: 4.6875rem;
  font-family: "Fugaz One", cursive;
  text-align: right;
  text-align: right;
}

.content .payment-area .payment-box.total-tips .box {
  position: relative;
}

.content .payment-area .payment-box.total-tips p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: right;
  font-size: 2.75rem;
  margin-top: 2.1875rem;
}

.content .payment-area .payment-box.total-tips .payment-box-title {
  position: relative;
  top: 0;
  left: 0;
}

.content .payment-area .form-btns {
  margin-top: 9.0625rem;
}

.content .payment-area .result-message {
  margin-top: 6.5625rem;
  text-align: center;
}

.content .payment-area .result-message h3 {
  font-size: 3.4375rem;
  font-weight: 700;
}

.content .payment-area .result-message p {
  font-size: 3.4375rem;
  margin-top: 2.8125rem;
  font-weight: 300;
}

.content .divider {
  width: 100%;
  height: 1px;
  background-color: #979797;
}

.popup {
  position: fixed;
  width: 67.8125%;
  min-width: 81.375rem;
  top: 50%;
  left: 50%;
  z-index: 9;
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 8.4375rem 3.75rem;
}

.popup-text {
  font-size: 2.75rem;
  font-weight: 400;
  color: #000000;
}

.popup-btns {
  margin-top: 5.3125rem;
}

.popup-btns button {
  border-radius: 6.25rem;
  margin: 0 2.5rem;
  height: 7.75rem;
  width: 29.4375rem;
  font-size: 2.75rem;
  font-weight: 700;
}

.popup.form {
  border-radius: 1.5625rem;
  background-color: #d8d8d8;
  width: 84.53125%;
  max-width: 100%;
  padding: 9.0625rem 6.5625rem;
}

.popup.form .form-area {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.popup.form .form-area .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup.form .form-area .input-wrap ~ .input-wrap {
  margin-top: 5rem;
}

.popup.form .form-area input:not([type="checkbox"]):not([type="radio"]) {
  -webkit-appearance: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 14rem;
  border-radius: 0.9375rem;
  -webkit-box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  border: solid 1.5px #d1d2d4;
  padding: 0 3.75rem;
  font-size: 2.75rem;
  line-height: 1;
}

.popup.form .form-area .input-agree {
  margin-top: 10.9375rem;
}

.popup.form .form-area label {
  display: block;
  font-size: 3.4375rem;
  font-weight: 700;
  color: #000000;
}

.popup.form .form-area label ~ input:not([type="checkbox"]):not([type="radio"]) {
  margin-top: 1rem;
}

.popup.form .form-area .input-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup.form .form-area .input-check label {
  margin-right: 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup.form .form-area .input-check input[type="checkbox"] {
  padding: 0;
  margin: 0;
  width: 3rem;
  height: 3rem;
}

.popup.form .form-area .input-check span {
  font-size: 2.75rem;
  display: block;
}

.popup.form .popup-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 9.0625rem;
}

.popup.form .popup-btns button ~ button {
  margin-left: 10.4375rem;
}

.footer {
  border-top: 1px solid #979797;
  padding-top: 0;
  padding-bottom: 5.3125rem;
  padding-right: 7.8125%;
  padding-left: 7.8125%;
}

.footer .fnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .fnb ul li {
  position: relative;
}

.footer .fnb ul li ~ li {
  margin-left: 10.8438rem;
}

.footer .fnb ul li a {
  padding: 1.875rem 0;
  font-size: 2.75rem;
  display: block;
  position: relative;
  min-width: 14.375rem;
}

.footer .fnb ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 0.625rem;
  background-color: #6236ff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}

.footer .fnb ul li a.on, .footer .fnb ul li a:hover {
  font-weight: 800;
}

.footer .fnb ul li a.on::after, .footer .fnb ul li a:hover::after {
  width: 100%;
}

.footer .footer-info {
  margin-top: 5.3125rem;
}

.footer .footer-info h2 {
  font-size: 3.125rem;
  font-weight: 800;
}

.footer .footer-info p {
  margin-top: 2.25rem;
  font-size: 2.375rem;
  line-height: normal;
}

@media (max-width: 1600px) {
  html {
    font-size: calc(16px * (100vw / 1920));
  }
}

@media (max-width: 1366px) {
  html {
    font-size: calc(16px * (1366 / 1920));
  }
}

@media (max-width: 1280px) {
  html {
    font-size: calc(16px * (1280 / 1920));
  }
}

@media (max-width: 1024px) {
  html {
    font-size: calc(16px * (1024 / 1920));
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(16px * (768 / 1920));
  }
}

@media (max-width: 480px) {
  html {
    font-size: calc(16px * (480 / 1920));
  }
}

@media (max-width: 375px) {
  html {
    font-size: calc(16px * (480 / 1920));
  }
}

@media (max-width: 320px) {
  html {
    font-size: calc(16px * (320 / 1920));
  }
}
/*# sourceMappingURL=tips-style.css.map */