@import url(../css/reset.css);
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-underline {
  text-decoration: underline;
}

.btn-default {
  border-radius: 1.875rem;
  background-color: #d8dde6;
}

.btn-minus,
.btn-plus {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #d8dde6;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.btn-minus::after {
  display: none;
}

.btn-minus::before, .btn-minus::after,
.btn-plus::before,
.btn-plus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.375rem;
  height: 0.25rem;
  content: "";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.btn-minus::after,
.btn-plus::after {
  display: block;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  background-color: #ffffff;
}

.input {
  border: solid 1px #d1d2d4;
  -webkit-box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
}

.input .bg-gray {
  color: #000000;
  background-color: #dcdddf;
}

.input-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-check input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0;
}

.input-check span {
  display: block;
  font-size: 2.75rem;
}

::-webkit-input-placeholder {
  color: #d1cece;
}

:-ms-input-placeholder {
  color: #d1cece;
}

::-ms-input-placeholder {
  color: #d1cece;
}

::placeholder {
  color: #d1cece;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  letter-spacing: -0.05em;
  color: #4f4f4f;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 44px;
  font-weight: 300;
  line-height: 1.414;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  outline: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

button.btn-red {
  color: #ffffff;
  border: none;
  background-color: #fc4f67;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

button.btn-dark {
  color: #ffffff;
  border: none;
  background-color: #4f4f4f;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

button.btn-blue {
  color: #ffffff;
  border: none;
  background-color: #32c5ff;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

button.btn-black {
  color: #ffffff;
  border: none;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

p {
  word-wrap: break-word;
  word-break: keep-all;
}

.imp {
  color: #e02020;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9;
  top: 0;
  padding-top: 4.0625rem;
  text-align: center;
  border-bottom: 1px solid #979797;
  background-color: #ffffff;
}

.header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header h1 a {
  display: block;
  margin: 0 auto;
}

.header h1 a img {
  display: block;
  height: 6.6875rem;
  margin: 0 auto;
}

.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.4375rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
  padding-right: 7.8125%;
  padding-bottom: 0;
  padding-left: 7.8125%;
}

.header .header-menu .gnb li ~ li {
  margin-left: 5rem;
}

.header .header-menu .util li ~ li {
  margin-left: 2.5rem;
}

.header .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-menu ul li {
  position: relative;
}

.header .header-menu ul li a {
  position: relative;
  display: block;
  min-width: 14.375rem;
  padding: 1.875rem 0;
  font-size: 2.75rem;
}

.header .header-menu ul li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0.625rem;
  content: "";
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #6236ff;
}

.header .header-menu ul li a.on, .header .header-menu ul li a:hover {
  font-weight: 800;
}

.header .header-menu ul li a.on::after, .header .header-menu ul li a:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.swiper-container {
  margin-bottom: 3.75rem;
}

.main-banner-slide ~ .main-banner-slide {
  margin-top: 60px;
}

.main-banner-slide img {
  display: block;
  width: 100vw;
  max-width: 1920px;
}

.login-frame {
  margin: 0 auto;
  text-align: center;
  padding-top: 31.25rem;
  padding-bottom: 41.6875rem;
}

.login-frame h2 {
  font-size: 6.25rem;
  font-weight: 800;
  line-height: 7.5rem;
}

.login-frame p {
  margin-top: 0.9375rem;
  font-size: 3.375rem;
}

.login-frame p + button {
  margin-top: 9.0625rem;
}

.login-frame button {
  width: 100%;
  width: 73.69792%;
  min-width: 88.4375rem;
  height: 15rem;
  border-radius: 0.375rem;
}

.login-frame button ~ button {
  margin-top: 5.3125rem;
}

.login-frame .btn-apple {
  border: 1px solid #979797;
  background-color: #ffffff;
}

.login-frame .btn-apple img {
  display: block;
  height: 4.25rem;
  margin: 0 auto;
}

.login-frame .btn-google {
  border: 1px solid #df4930;
  background-color: #df4930;
}

.login-frame .btn-google img {
  display: block;
  height: 6.0625rem;
  margin: 0 auto;
}

.terms-area {
  padding: 3.125rem 0 0;
  text-align: left;
}

.terms-area h2 {
  text-align: center;
  font-size: 4.375rem;
  font-weight: 800;
}

.terms-area h2 ~ .terms-frame {
  margin-top: 3.375rem;
}

.terms-area .terms-frame {
  width: 100%;
  background-color: #f5f6f9;
}

.terms-area .terms-frame .terms-text {
  width: 91.30208%;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 2.75rem;
  padding-top: 5.625rem;
  padding-right: 5.625rem;
  padding-bottom: 18.75rem;
  padding-left: 5.625rem;
}

.order-area .order-top {
  padding: 3.4375rem;
  background-color: #f5f6f9;
}

.order-area .order-top .gem {
  position: relative;
  width: 38.375rem;
  height: 36.6875rem;
  margin: 0 auto;
  border-radius: 1.25rem;
  background-position: center;
  background-color: #000000;
  background-image: url(../images/img-gem-set.png);
  background-repeat: no-repeat;
  background-size: 23.625rem 20.25rem;
}

.order-area .order-top .gem .price {
  position: absolute;
  right: 2.1875rem;
  bottom: 1.5625rem;
  color: #ffffff;
  font-size: 2.75rem;
}

.order-area .order-top .order-top-result {
  text-align: center;
}

.order-area .order-top .order-top-result img {
  display: block;
  width: 12.625rem;
  height: 11.375rem;
  margin: 0 auto 2.75rem;
}

.order-area .order-top .order-top-result p {
  font-size: 4.375rem;
  font-weight: 700;
}

.order-area .order-top .order-top-result .order-top-result-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48.85417%;
  min-width: 58.625rem;
  margin: 3.75rem auto;
  padding: 4.375rem;
  border-radius: 1.875rem;
  background-color: #ffffff;
  font-size: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-area .order-top .order-top-result .order-top-result-info-title {
  margin-top: 7.1875rem;
  margin-bottom: 2.25rem;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.order-area .order-top .order-top-result .order-top-result-info table {
  margin: 0 auto;
  font-size: 3.125rem;
}

.order-area .order-top .order-top-result .order-top-result-info table tr th {
  text-align: right;
}

.order-area .order-top .order-top-result .order-top-result-info table tr td {
  padding-left: 1.875rem;
  text-align: right;
}

.order-area .order-action p {
  margin: 0 auto;
  padding: 3.75rem;
  text-align: center;
  font-size: 2.75rem;
}

.order-area .order-form {
  padding: 5.3125rem;
}

.order-area .order-form .info-area {
  text-align: center;
}

.order-area .order-form .info-area .info-area-title {
  margin-bottom: 2.25rem;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.order-area .order-form .info-area .info-area-table {
  width: 48.85417vw;
  min-width: 58.625rem;
  margin: 0 auto 5.3125rem;
  padding: 4.6875rem;
  text-align: center;
  border-radius: 1.875rem;
  background-color: #f5f6f9;
}

.order-area .order-form .info-area .info-area-table p {
  min-height: 25rem;
  font-size: 2.75rem;
}

.order-area .order-form .info-area .info-area-table table {
  margin: 0 auto;
  font-size: 3.125rem;
}

.order-area .order-form .info-area .info-area-table table tr th {
  text-align: right;
}

.order-area .order-form .info-area .info-area-table table tr td {
  padding-left: 1.875rem;
  text-align: right;
}

.counting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 4.375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counting .value {
  text-align: center;
  font-size: 4.375rem;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.375rem;
          flex: 0 0 24.375rem;
}

.form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-btns button {
  width: 37.5rem;
  height: 6.875rem;
  border-radius: 1.875rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  font-size: 2.75rem;
  font-weight: 700;
}

.form-btns button ~ button {
  margin-left: 10.3125rem;
}

.form-area {
  width: 49.11458%;
  min-width: 58.9375rem;
  margin: 0 auto;
}

.form-area .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-area .input-wrap .error {
  display: block;
  margin-top: 2.25rem;
  padding-left: 3.875rem;
  text-align: left;
  color: #e02020;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.form-area input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
  height: 6.875rem;
  padding: 0 3.75rem;
  border: solid 1.5px #d1d2d4;
  border-radius: 0.9375rem;
  -webkit-box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  font-size: 2.75rem;
  line-height: 1;
  -webkit-appearance: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.form-area .input-agree {
  margin-top: 10.9375rem;
}

.form-area .input-agree a {
  margin-left: 2rem;
}

.form-area label {
  display: block;
  padding-left: 1.5rem;
  color: #000000;
  font-size: 2.75rem;
  font-weight: 700;
}

.form-area label ~ input:not([type="checkbox"]):not([type="radio"]) {
  margin-top: 0.8125rem;
}

.form-area .input-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-area .input-check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-area .input-check input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0;
}

.form-area .input-check span {
  display: block;
  font-size: 2.75rem;
}

.payment-area {
  width: 84.27083%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 8.4375rem;
  padding: 3.4375rem 0 17.8125rem;
}

.payment-area h2 {
  margin-bottom: 10.9375rem;
  text-align: center;
  font-size: 4.375rem;
  font-weight: 900;
}

.payment-area h2 ~ h2 {
  margin-top: 12.8125rem;
  margin-bottom: 2.1875rem;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 300;
}

.payment-area h2 ~ h2 + .payment-box {
  margin-top: 2.1875rem !important;
}

.payment-area > p {
  margin: 3.125rem auto;
  text-align: center;
  font-size: 2.75rem;
}

.payment-area > p + .payment-box {
  margin-top: 3.125rem !important;
}

.payment-area .payment-box {
  position: relative;
  padding: 5.3125rem 4.0625rem;
  border: solid 1px #979797;
  border-radius: 1.5625rem;
}

.payment-area .payment-box ~ .payment-box {
  margin-top: 5.3125rem;
}

.payment-area .payment-box .payment-box-title {
  position: absolute;
  top: 2.0625rem;
  left: 3.9375rem;
  font-size: 2.75rem;
  line-height: 3.3125rem;
}

.payment-area .payment-box .payment-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment-area .payment-box .payment-box-content .btn-add,
.payment-area .payment-box .payment-box-content .btn-edit {
  width: 20.0625rem;
  height: 5.3125rem;
  color: #000000;
  border: none;
  border-radius: 0.4375rem;
  background-color: #d0d0d0;
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 3.3125rem;
}

.payment-area .payment-box.tips .payment-box-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.payment-area .payment-box.tips .price {
  font-size: 5rem;
  font-weight: 500;
}

.payment-area .payment-box.tips .unit {
  font-size: 3.4375rem;
}

.payment-area .payment-box.payment .payment-box-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment-area .payment-box.payment .counting {
  width: 36.875rem;
  margin: 0;
}

.payment-area .payment-box.payment .price {
  font-size: 5rem;
  font-weight: 500;
}

.payment-area .payment-box.payment .unit {
  font-size: 3.4375rem;
}

.payment-area .payment-box.account .payment-box-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment-area .payment-box.account .payment-box-content .account-number {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
}

.payment-area .payment-box.account .payment-box-content .account-number strong {
  font-weight: 700;
}

.payment-area .payment-box.account .payment-box-content span + button {
  margin-left: 5.3125rem;
}

.payment-area .payment-box.total-tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.75rem 5.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.payment-area .payment-box.total-tips .tips-input {
  margin-top: 2.1875rem;
}

.payment-area .payment-box.total-tips .tips-input input {
  width: 40.1875rem;
  height: 8.375rem;
  padding: 0 3.125rem;
  text-align: right;
  text-align: right;
  border: none;
  border-radius: 0.625rem;
  background-color: #dcdddf;
  -webkit-box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  font-family: "Fugaz One", cursive;
  font-size: 4.6875rem;
}

.payment-area .payment-box.total-tips .box {
  position: relative;
}

.payment-area .payment-box.total-tips p {
  margin-top: 2.1875rem;
  text-align: right;
  font-size: 2.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.payment-area .payment-box.total-tips .payment-box-title {
  position: relative;
  top: 0;
  left: 0;
}

.payment-area .form-btns {
  margin-top: 9.0625rem;
}

.payment-area .result-message {
  margin-top: 6.5625rem;
  text-align: center;
}

.payment-area .result-message h3 {
  font-size: 3.4375rem;
  font-weight: 700;
}

.payment-area .result-message p {
  margin-top: 2.8125rem;
  font-size: 3.4375rem;
  font-weight: 300;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #979797;
}

.mypage {
  padding-top: 3.4375rem;
  text-align: center;
}

.mypage h2 {
  margin-bottom: 5.3125rem;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
}

.mypage .my-tips {
  margin: 0 auto;
}

.mypage .my-tips h3 {
  margin-bottom: 0.8125rem;
  font-size: 3.4375rem;
  font-weight: 700;
}

.mypage .my-tips .tips-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 61.97917%;
  max-width: 100%;
  padding: 3.125rem;
  border-radius: 0.625rem;
  background-color: #f5f6f9;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mypage .my-tips .tips-box dl {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mypage .my-tips .tips-box dl dt {
  font-size: 2.75rem;
}

.mypage .my-tips .tips-box dl dd {
  margin-top: 2.75rem;
  font-size: 3.75rem;
  font-weight: 700;
}

.mypage .mypage-tabs {
  margin-top: 3.4375rem;
  text-align: center;
}

.mypage .mypage-tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mypage .mypage-tabs ul li {
  height: 6.875rem;
  border: solid 1px #d1d2d4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.3125rem;
          flex: 0 0 23.3125rem;
}

.mypage .mypage-tabs ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mypage .mypage-tabs ul li a.on {
  color: #000000;
  background-color: #d1d2d4;
}

.mypage .tab-content {
  padding: 4.0625rem 4.0625rem 9.0625rem;
  background-color: #d1d2d4;
}

.mypage .tab-content form .input-agree {
  margin-top: 8.4375rem;
}

.mypage .tab-content form .input-agree a {
  margin-left: 2rem;
}

.mypage .tab-content form .input-wrap ~ .input-wrap {
  margin-top: 3.75rem;
}

.mypage .tab-content.tips-history .list {
  padding: 0 9.0625rem;
}

.mypage .tab-content.tips-history .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.75rem 5.5rem;
  border-radius: 0.625rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.3125rem 0.9375rem 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 0.3125rem 0.9375rem 0 rgba(0, 0, 0, 0.07);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mypage .tab-content.tips-history .list-item ~ .list-item {
  margin-top: 2.0625rem;
}

.mypage .tab-content.tips-history .list-item .icon {
  width: 6.5rem;
  height: 6rem;
  margin-right: 9.375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.5rem;
          flex: 0 0 6.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mypage .tab-content.tips-history .list-item .icon.up {
  background-image: url(../images/icon-arrow-up.png);
}

.mypage .tab-content.tips-history .list-item .icon.up ~ dl dd {
  color: #fc4f67;
}

.mypage .tab-content.tips-history .list-item .icon.down {
  background-image: url(../images/icon-arrow-down.png);
}

.mypage .tab-content.tips-history .list-item .icon.down ~ dl dd {
  color: #32c5ff;
}

.mypage .tab-content.tips-history .list-item .title {
  text-align: left;
  color: #000000;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mypage .tab-content.tips-history .list-item dl dt {
  text-align: right;
  font-size: 2.8125rem;
  font-weight: 500;
}

.mypage .tab-content.tips-history .list-item dl dd {
  text-align: right;
  font-size: 3.4375rem;
  font-weight: 700;
}

.mypage .tab-content.tips-history .list-item dl dd .unit {
  font-size: 2.75rem;
}

.mypage .profile-photo {
  margin: 0 auto 4.375rem;
  text-align: center;
}

.mypage .profile-photo .profile-photo-img {
  width: 27.8125rem;
  height: 27.8125rem;
  margin: 0 auto 0.8125rem;
  border-radius: 50%;
  background-position: center;
  background-color: rgba(79, 79, 79, 0.5);
  background-image: url(../images/icon-photo.png);
  background-repeat: no-repeat;
  background-size: 10.4375rem;
}

.mypage .profile-photo .btn-edit {
  width: 11.125rem;
  height: 5.3125rem;
  border: none;
  border-radius: 0.4375rem;
  font-size: 44px;
  font-weight: 700;
}

.mypage .profile-photo input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.mypage .profile-photo + .mypage-tabs {
  margin-top: 5.8125rem;
}

.popup {
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 50%;
  width: 67.8125%;
  min-width: 81.375rem;
  padding: 8.4375rem 3.75rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
}

.popup-text {
  color: #000000;
  font-size: 2.75rem;
  font-weight: 400;
}

.popup-btns {
  margin-top: 5.3125rem;
}

.popup-btns button {
  width: 29.4375rem;
  height: 7.75rem;
  margin: 0 2.5rem;
  border-radius: 6.25rem;
  font-size: 2.75rem;
  font-weight: 700;
}

.popup.form {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 84.53125%;
  max-width: 100%;
  max-height: 70vh;
  padding: 9.0625rem 6.5625rem;
  border-radius: 1.5625rem;
  background-color: #d8d8d8;
}

.popup.form .form-area {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.popup.form .form-area .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup.form .form-area .input-wrap ~ .input-wrap {
  margin-top: 5rem;
}

.popup.form .form-area input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
  height: 14rem;
  padding: 0 3.75rem;
  border: solid 1.5px #d1d2d4;
  border-radius: 0.9375rem;
  -webkit-box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  font-size: 2.75rem;
  line-height: 1;
  -webkit-appearance: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.popup.form .form-area .input-agree {
  margin-top: 10.9375rem;
}

.popup.form .form-area .input-agree a {
  margin-left: 2rem;
}

.popup.form .form-area label {
  display: block;
  padding-left: 1.5rem;
  color: #000000;
  font-size: 3.4375rem;
  font-weight: 700;
}

.popup.form .form-area label ~ input:not([type="checkbox"]):not([type="radio"]) {
  margin-top: 1rem;
}

.popup.form .popup-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup.form .popup-btns button ~ button {
  margin-left: 10.4375rem;
}

.popup.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup.terms .terms-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.popup.terms .terms-area .terms-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.popup.terms .terms-area .terms-frame .terms-text {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.footer {
  border-top: 1px solid #979797;
  padding-top: 0;
  padding-right: 7.8125%;
  padding-bottom: 5.3125rem;
  padding-left: 7.8125%;
}

.footer .fnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .fnb ul li {
  position: relative;
}

.footer .fnb ul li ~ li {
  margin-left: 10.8438rem;
}

.footer .fnb ul li a {
  position: relative;
  display: block;
  min-width: 14.375rem;
  padding: 1.875rem 0;
  font-size: 2.75rem;
}

.footer .fnb ul li a::after {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0.625rem;
  content: "";
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #6236ff;
}

.footer .fnb ul li a.on, .footer .fnb ul li a:hover {
  font-weight: 800;
}

.footer .fnb ul li a.on::after, .footer .fnb ul li a:hover::after {
  width: 100%;
}

.footer .footer-info {
  margin-top: 5.3125rem;
}

.footer .footer-info h2 {
  font-size: 3.125rem;
  font-weight: 800;
}

.footer .footer-info p {
  margin-top: 2.25rem;
  font-size: 2.375rem;
  line-height: normal;
}

@media (max-width: 1600px) {
  html {
    font-size: calc(16px * (100vw / 1920));
  }
}

@media (max-width: 1366px) {
  html {
    font-size: calc(16px * (1366 / 1920));
  }
}

@media (max-width: 1280px) {
  html {
    font-size: calc(16px * (1280 / 1920));
  }
}

@media (max-width: 1024px) {
  html {
    font-size: calc(16px * (1024 / 1920));
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(16px * (768 / 1920));
  }
}

@media (max-width: 480px) {
  html {
    font-size: calc(16px * (480 / 1920));
  }
}

@media (max-width: 375px) {
  html {
    font-size: calc(16px * (480 / 1920));
  }
}

@media (max-width: 320px) {
  html {
    font-size: calc(16px * (320 / 1920));
  }
}
/*# sourceMappingURL=tips-style.css.map */