<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css" />
    <link rel="stylesheet" href="../assets/css/tips-style.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- header -->
      <div class="header">
        <h1>
          <a href="javascipt:void(0);"><img src="../assets/images/logo-tips.png" alt="" /></a>
        </h1>
        <div class="header-menu">
          <div class="gnb">
            <ul>
              <!-- 활성화된 메뉴 -->
              <li><a href="javascript:void(0);">서비스 소개</a></li>
              <!-- //활성화된 메뉴 -->
              <li><a href="javascript:void(0);">구매하기</a></li>
              <li><a href="javascript:void(0);">청구하기</a></li>
            </ul>
          </div>
          <div class="util">
            <ul>
              <!-- 로그인 전 -->
              <!-- <li><a href="javascript:void(0);">로그인</a></li> -->
              <!-- //로그인 전 -->
              <!-- 로그인 후 -->
              <li><a href="javascript:void(0);" class="on">마이페이지</a></li>
              <li><a href="javascript:void(0);">로그아웃</a></li>
              <!-- //로그인 후 -->
            </ul>
          </div>
        </div>
      </div>
      <!-- //header -->
      <!-- content -->
      <div class="content">
        <!-- 마이페이지 -->
        <div class="mypage">
          <h2></h2>
          <div class="my-tips">
            <h3>My Tips</h3>
            <div class="tips-box">
              <dl>
                <dt>보유 Tips</dt>
                <dd>30,000</dd>
              </dl>
              <dl>
                <dt>청구가능 Tips</dt>
                <dd>20,000</dd>
              </dl>
            </div>
          </div>
          <div class="mypage-tabs">
            <ul>
              <li><a href="javascript:void(0);">프로필 관리</a></li>
              <li><a href="javascript:void(0);">Tips 내역</a></li>
            </ul>
          </div>
          <!-- 프로필 관리 -->
          <div class="tab-content profile">
            <!-- 프로필 사진 -->
            <div class="profile-photo">
              <!-- 업로드 된 이미지가 background-image로 삽입 되도록 -->
              <div class="profile-photo-img" style="background-image: url(https://dummyimage.com/300x300/f8f8f8/666666.jpg?text=Uploaded%20Photo);"></div>
              <!-- 업로드 된 이미지가 background-image로 삽입 되도록 -->
              <button class="btn-edit" onclick="$(this).parent().find('input[type=file]').click();">수정</button>
              <input type="file" name="" id="" />
            </div>
            <!-- //프로필 사진 -->
            <!-- 프로필 폼 -->
            <form action="">
              <div class="form-area">
                <div class="input-wrap">
                  <label for="userName">
                    내 별명
                  </label>
                  <input type="text" name="userName" id="userName" placeholder="내 별명을 입력해주세요." />
                </div>
                <div class="input-wrap">
                  <label for="infoText">
                    소개글
                    <span class="imp">*</span>
                  </label>
                  <input type="text" name="infoText" id="infoText" placeholder="소개글을 입력해주세요.(최대 100자)" />
                </div>
                <div class="input-wrap">
                  <label for="bankName">
                    Instagram ID
                    <span class="imp">*</span>
                  </label>
                  <input type="text" name="bankName" id="bankName" placeholder="Instagram ID를 입력해주세요." />
                </div>
              </div>
              <div class="input-agree">
                  <div class="input-check">
                    <label for="agreeCheck">
                      <input type="checkbox" name="" id="agreeCheck" />
                      <i></i>
                    </label>
                    <span>Tips의 이용약관에 동의 합니다.</span>
                  </div>
                </div>
                <div class="form-btns">
                  <button type="button" class="btn-red">수정하기</button>
                </div>
              </div>
            </form>
            <!-- //프로필 폼 -->
          </div>
          <!-- //프로필 관리 -->
        </div>
        <!-- //마이페이지 -->
      </div>
      <!-- //content -->
      <!-- footer -->
      <div class="footer">
        <div class="footer-menu">
          <div class="fnb">
            <ul>
              <li><a href="javascript:void(0);">서비스이용약관</a></li>
              <li><a href="javascript:void(0);">개인정보보호</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-info">
          <h2>한국정품진흥원</h2>
          <p>
            고객센터 070-0000-0000
            <br />
            월~금 : 오전10시~오후5시 토/일 : 휴무
            <br />
            <br />
            서울특별시 강남구 역삼동 277-14 팁스빌딩 12층
            <br />
            대표이사: 손용석
            <br />
            사업자등록번호: 677-87-01722
            <br />
            통신판매업신고: 제2020-인천남동구-0940 호 [사업자정보확인]
          </p>
        </div>
      </div>
      <!-- //footer -->
    </div>
    <!-- javascript library load -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
    <!-- custom script -->
    <!-- onload script -->
    <script>
      $(function () {});
    </script>
  </body>
</html>
